@font-face{
    font-family: new;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face{
    font-family: new2;
    src: url(./NeueHaasDisplayLight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #efeae3;
    font-family: new;
    position: relative;
}
#navi{
    width: 100%;
    
    padding: 2vw 3vw;
    display: flex;
   justify-content: space-between;
  
}
#text{
    padding-top: 20px;
    display: flex;
    gap: 1vw;
}
#text h4{
    padding: 15px 20px;
    border: 1px solid #00000052;
    color:  #000000ad;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
   
}
#text h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom:-100%;
    transition: 0.4s;
}
#text h4:hover::after{
bottom: 0;
}
#text h4:hover a{
    color: white;
}
#text h4 a{
    text-decoration: none;
    color: #000000ad;
    z-index: 9;
    position: relative;
}


#center{
    width: 100%;
    height: 65vh;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2vw;
    border-bottom: 1px solid #00000052;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#left h3{
    width: 50%;
    font-size: 1.8vw;
    font-family: new;

}
#right h1{
    font-size: 11vw;
    line-height: 9vw;
    text-align: right;
    padding-right:30px ;
    
}
#containshap{
    width: 46%;
    height: 46vh;
    background-color:  #fe330a;
    filter: blur(30px);
    position: absolute;
    right: 0;
    top: 40%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    
}
#sap1{
    width: 100%;
    height: 100%;
    background-color: #fe330a;
    position: absolute;
    right: 0;
    top: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    filter: blur(20px);
    animation-name: anim3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite
}
#sap2{
    width: 50%;
    height: 50%;
    background-color:#fe330a;
    position: absolute;
    
    top: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    filter: blur(20px);
    animation-name: anim1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite
}
#sap3{
    width: 200px;
    height: 200px;
    background-color: #fe330a;
    position: absolute;
    right: 30px;
    top: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    filter: blur(20px);
    animation-name: anim2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite
    
}
@keyframes anim1 {
    from{
        transform: translate(-30%,10%);
    }to{
        transform: translate(10%,-10%);
    }
}
@keyframes anim2 {
    from{
        transform: translate(-30%,10%);
    }to{
        transform: translate(10%,-30%);
    }
}
@keyframes anim3 {
    from{
        transform: translate(-10%,10%);
    }to{
        transform: translate(10%,-10%);
    }
}
#video{
    z-index: 9;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
  
}
#video video{
    width: 96%;
    border-radius: 15px;
    
}

#page2{
    width: 100%;
   min-height:  100vh;
   background-color: #efeae3;
    padding: 8vw 0;

}
#movingtext{
    white-space:nowrap ;
    overflow-x: auto;
}
#movingtext::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
#movingtext h1{
    font-size: 9vw;
    font-family: new;
    display: inline-block;
}
#gola{
    width: 60px;
    height: 60px;
    background-color: #fe330a;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translate(0);
    }to{
        transform: translate(-100%);
    }  from{
        transform: translate(0);
    }to{
        transform: translate(-100%);
    }
}

#page2bottom{
    padding-top: 150px;
    width: 100%;
   
   display: flex;
   justify-content: space-between;
  position: relative;
    
   
}
#page2bottom p{
    padding-top: 40px;
    width: 70%;
    
}
#page2bottom_pic {
    margin-top: 190px;
    width: 35%;
   
   
    padding-left: 3vw;
    
}
#page2bottom_pic img{
    border-radius: 15px;
    width: 70%;
    
}


#textt {
    width: 60%;
    height: 60px;
    
    float: left;
    padding-left: 8vw;
    
    word-spacing: -0.4vw;
    z-index: 9;
    position: relative;
}
#textt  h1{
    font-size: 4.5vw;
    font-family: new;
}

#circlemove{
    width: 500px;
    height: 500px;
    background-color: #ff7925;
border-radius: 50%;
filter: blur(20px);
position: absolute;
 top: 180px;
 left: 25%;
 animation-name: circle2;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
}
#circlemove2{

position: absolute;
width: 500px;
height: 500px;
top: 180px;
left: 25%;
filter: blur(20px);
background-color: #fe330a;
border-radius: 50%;
animation-name: circle1;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
}
@keyframes circle1 {
    from{
        transform: translate(-40px,40px);
    }to{
        transform: translate(40px,-40px);
    }
}
@keyframes circle2 {
    from{
        transform: translate(-60px,60px);
    }to{
        transform: translate(60px,-60px);
    }
}
#page3{
    width: 100%;
    background-color: #efeae3;
    min-height: 100px;
   
}
.elem{
    width: 100%;
    border-bottom: 1px solid gray;
    
    position: relative;
    overflow: hidden;
}
.elem h1{
    font-size: 4vw;
    height: 150px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    z-index: 9;
    word-spacing: -0.5vw;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff9831;
    top: -100%;
    transition: 0.5s;
}
.elem:hover .overlay{
    top: 0;
}
#allimages{
    width: 300px;
    height: 400px;
    pointer-events: none;
    border-radius: 15px;
    position: fixed;
    top: 190px;
    left: 60%;
    display: none;
    z-index: 99;
    
   
}
#pagefour{
   width: 100%;
  min-height: 100vh;
   background-color: #efeae3;
   padding: 50px;
   padding-top: 200px;
   
   display: flex;

   position:relative;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    
    font-size: 18px;
    /* background: #fff; */
    border-left: 1px solid black;
    display: flex;
    
  
    
  }



  .swiper-slide {
    width: 60%;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }

 #page5{
    width: 100%;
    height: 70vh;
    background-color:white;
    padding: 10vw 0vw;
 }


#fourleft{
    width: 45%;
    height: 100%;
    padding-top: 10%;
    padding-left: 10%; 
    
    flex-direction: column;
    background-color: #0b0500;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
#cover{
    background-color: white;
}
#fourright{
    width: 55%;
    height: 100%;
    border-radius: 15px;
    background-image: url("https://images.unsplash.com/photo-1705418511673-786fc03b913c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8");
background-size: cover;
}
#fourright img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#main{
    
    margin-bottom: 100vh;
    z-index: 10;
    position: relative;
   
    
}
#fourleft h1{
    color: #423c37;
    font-size: 5vw;
    padding-left: 14px;
    border-left:6px solid #423c37;
    display: inline-block;
}
#fourleft h1:first-child{
    color: white;
}
#coverpager4{
    display: flex;
    width: 100%;
    background-color:#0b0500;
    border-radius: 15px;
    height: 100vh;
}
#fourleft p{
    padding-top: 40px;
    color: #d7d2cb;
    width: 70%;
    font-size: 1.3vw;
}
#footer{
    width: 100%;
    background-color: black;
    height:100vh;
    position: fixed;
    bottom: 0;
    z-index: 9;
    
    cursor: pointer;
}
#allthing{
    
    
    
    
    
    
    width: 100%;
    display: flex;
    padding-left: 60px;
    flex-direction: column;
    text-align: center;
}
#allthing h1{
    margin-left: -60px;
    font-size: 25vw;
    color: white;
    line-height: 25vw;
    
}
#lastall{
    width: 100%;
display: flex;
justify-content: space-between;
padding-top: 3vw;
padding-bottom: 3vw;

padding-right: 60px;
}
#lastall h2{
    color: white;
}

#top{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    padding-right: 8vw;
    pointer-events: all;
    
   
    
}
#lastright input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 350px;
    height: 40px;
    margin-top: 40px;
    position: absolute;
    right: 110px;
    font-size: 2vw;

}
/* #lastleft h2{
    font-size: 3vw;
    color: white;
} */
.lsth2{
    color: white;
    font-size: 3vw;
}
.lsth2:hover{
    color: #5f5d5d;
}
#lastright h2{
    color: white;
}
#circle{
    width: 100%;
    height: 70%;
   background: #fe330a;
 border-radius: 40%;
   filter: blur(20px);
    position: absolute;
    top: -40px;
    animation-name: last;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
    
}
@keyframes last{
    from{
        transform: translate(-10px ,10px)skew(0deg);
    }to{
        transform: translate(10px ,-10px)skew(30deg);
    }
}
